<!DOCTYPE html>
<html>

<head>
    <title>
        test</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:9px; padding-left:16px ">
    <div class="finish">完成</div>

    <div class="category-text" value="cs10">&&的膚質是? (敏感/抵抗力)</div>
        <div  class="swiper-container">
<div class="swiper-wrapper">
    <div class = "swiper-slide" id="q67">
        <div class="next">1/13</div>
        <div class="question">過去臉部肌膚是否發紅凸起過？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q67_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a277">完全沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q67_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a278">幾乎沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q67_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a279">至少一個月一次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q67_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a280">至少一週一次</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q68">
        <div class="next">2/13</div>
        <div class="question">是否出現過護膚品（含洗面乳、保濕品、彩妝等化妝品）導致的出痘、出疹、瘙癢等症狀？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q68_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a281">完全沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q68_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a282">幾乎沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q68_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a283">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q68_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a284">一直</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q69">
        <div class="next">3/13</div>
        <div class="question">是否治療過痘痘或皮膚炎？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q69_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a285">沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q69_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a286">有1~2次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q69_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a287">有3~4次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q69_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a288">正在接受治療中</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q70">
        <div class="next">4/13</div>
        <div class="question">戴不是純金14K的仿金首飾（耳釘/項鍊/戒指）時是否經常出疹？</div>
        <div class="answer">
                <button class="button_test_normal" data-checked="check" name="q70_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a289">完全沒有</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q70_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a290">幾乎沒有</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q70_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a291">經常</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q70_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a292">一直</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q71">
        <div class="next">5/13</div>
        <div class="question">防曬霜是否使您的皮膚瘙癢或發紅？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q71_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a293">完全沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q71_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a294">幾乎沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q71_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a295">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q71_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a296">一直</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q71_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a297">不知道</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q72">
        <div class="next">6/13</div>
        <div class="question">含有香料的沐浴產品或洗衣精，是否引發過出疹或瘙癢或乾燥等症狀？</div>
        <div class="answer">
                <button class="button_test_normal" data-checked="check" name="q72_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a298">完全沒有</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q72_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a299">幾乎沒有</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q72_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a300">經常</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q72_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a301">一直</button>
                <br>
                <button class="button_test_normal" data-checked="check" name="q72_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a302">不用上述產品（如因上述現象不用，則選擇1）。</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q73">
        <div class="next">7/13</div>
        <div class="question">您是否放心使用飯店香皂？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q73_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a303">沒有任何問題</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q73_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a304">幾乎沒問題</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q73_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a305">發紅起疹子</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q73_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a306">有出現過問題，所以不再用</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q73_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a307">自帶洗漱用品，所以不清楚</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q74">
        <div class="next">8/13</div>
        <div class="question">家人中是否有過敏性皮炎、濕疹、哮喘、過敏體質等病例？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q74_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a308">沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q74_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a309">一位</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q74_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a310">幾位</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q74_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a311">很多</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q74_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a312">不知道</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q75">
        <div class="next">9/13</div>
        <div class="question">運動、興奮、飲酒、辛辣、熱燙的飲食是否使臉部和頸部發紅？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q75_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a313">完全不是</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q75_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a314">偶爾</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q75_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a315">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q75_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a316">一直</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q76">
        <div class="next">10/13</div>
        <div class="question">臉或鼻子上紅色或藍色血管是否較多？?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q76_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a317">完全沒有</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q76_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a318">幾乎沒有（包含鼻子的1~3部分）</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q76_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a319">有一點（包含鼻子的4~6部分）</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q76_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a320">多（ 包含鼻子的7部分以上）</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q77">
        <div class="next">11/13</div>
        <div class="question">拍照時膚色是否為紅色？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q77_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a321">完全不是。</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q77_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a322">偶爾</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q77_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a323">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q77_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a324">一直</button>
         
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q78">
        <div class="next">12/13</div>
        <div class="question">沒有曬黑肌膚，但經常被問是否曬黑？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q78_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a325">完全不是。</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q78_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a326">偶爾</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q78_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a327">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q78_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a328">一直</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q78_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a329">經常做美黑</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q79">
        <div class="next">13/13</div>
        <div class="question">使用化妝品，防曬霜和護膚品後，您是否有任何皮疹，瘙癢或水腫的經歷？</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q79_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a330">完全不是。</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q79_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a331">偶爾</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q79_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a332">經常</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q79_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a333">一直</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q79_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a334">不用以上產品（如果起因為以上症狀，請選擇4）。</button>
        </div>
        <br>
    </div>

   </div> 
     </div>


    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>