<!DOCTYPE html>
<html>

<head>
    <title>
        test</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
    <div class="finish">Completed</div>

    <div class="category-text" value="cs11">What’s &&’s skin type?(Elasticity/Wrinkle)</div>
         <div  class="swiper-container">
<div class="swiper-wrapper">
    <div class = "swiper-slide" id="q80">
        <div class="next">1/11</div>
        <div class="question">Do you have deep wrinkles even when you don’t have any expressions?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q80_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a335">No, I don’t have any wrinkles even when I smile or frown</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q80_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a336">Only when I have expressions</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q80_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a337">A few wrinkles without any expressions</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q80_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a338">Many wrinkles without any expressions</button>
        </div>
        <br>
    </div>

    <div class = "swiper-slide" id="q81">
        <div class="next">2/11</div>
        <div class="question">Does your relatives on your mother side look older? How much?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q81_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a339">Look 5~10 years younger than their age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q81_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a340">Look just same</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q81_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a341">Look 5 years older than their age</button>
            
            <br>
            <button class="button_test_normal" data-checked="check" name="q81_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a342">Look more than 5 years older than their age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q81_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a343">It’s not my case (Adopted or can’t remember)</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q82">
        <div class="next">3/11</div>
        <div class="question">Does your relatives on your father side look older? How much?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q82_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a344">Look 5~10 years younger than their age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q82_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a345">Look just same</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q82_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a346">Look 5 years older than their age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q82_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a347">Look more than 5 years older than their age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q82_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a348">It’s not my case (Adopted or can’t remember)</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q83">
        <div class="next">4/11</div>
        <div class="question">Do you get tanned more than 2 weeks within a year?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q83_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a349">No</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q83_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a350">1~5 years</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q83_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a351">5~10 years</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q83_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a352">More than 10 years</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q84">
        <div class="next">5/11</div>
        <div class="question">How much are you exposed to the sunlight during the day?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q84_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a353">Almost not (mostly in indoor and not much sunlight)</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q84_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a354">Little bit (Not strong sunlight but always have one)</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q84_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a355">Middle (Exposed to the sunlight quite much)</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q84_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a356">Much (Live in area with much sunlight)</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q85">
        <div class="next">6/11</div>
        <div class="question">Do you think you look older than your age? How much?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q85_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a357">Look 1~5 years younger than my age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q85_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a358">Look just same</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q85_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a359">Look 5 years older than my age</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q85_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a360">Look more than 5 years older than my age</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q86">
        <div class="next">7/11</div>
        <div class="question">How much do you smoke? (or how much do you exposed to cigarette?)</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q86_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a361">None</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q86_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a362">I smoked but quit now</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q86_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a363">I smoked more than 10 years and now smoke sometimes</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q86_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a364">Smoke every day</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q86_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a365">I don’t smoke but am exposed to indirect smoking</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q87">
        <div class="next">8/11</div>
        <div class="question">What about the air quality in where you live.</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q87_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a366">Clean</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q87_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a367">Mostly clean but sometimes not</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q87_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a368">Little bit polluted</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q87_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a369">Severely polluted</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q88">
        <div class="next">9/11</div>
        <div class="question">How much do you eat fruits and vegetables?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q88_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a370">75~100%</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q88_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a371">25~75%</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q88_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a372">10~25%</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q88_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a373">0~10%</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q89">
        <div class="next">10/11</div>
        <div class="question">What is your original skin tone (without tanning)?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q89_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a374">Dark</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q89_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a375">Middle</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q89_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a376">Bright</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q89_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a377">very Bright</button>
        </div>
        <br>
    </div>
    <div class = "swiper-slide" id="q90">
        <div class="next">11/11</div>
        <div class="question">Do you 65 years old or over?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q90_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a378">Yes</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q90_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a379">No</button>
            
        </div>
        <br>
    </div>
   </div> 
     </div>
    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>