<!DOCTYPE html>

<html>

<head>
    <title>
        test</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px;">
    <div class="finish-en">Completed</div>
    <div class="category-text" value="cs13">Pore/Sebum/Blackhead: What’s your skin problems?</div>
        <div  class="swiper-container">
<div class="swiper-wrapper">


    <div class = "swiper-slide" id="q95-1">
        <div class="next">1/7</div>
        <div class="question">What’s your pores’ size?
        </div>
        <div class="subanswer">All over the face
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <div class = "swiper-slide" id="q95-2">
        <div class="next">2/7</div>
        <div class="question">What’s your pores’ size?
        </div>
        <div class="subanswer">T-zone
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <div class = "swiper-slide" id="q95-3">
        <div class="next">3/7</div>
        <div class="question">What’s your pores’ size?
        </div>
        <div class="subanswer">Cheek
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q95_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class = "swiper-slide" id="q96">
        <div class="next">4/7</div>
        <div class="question">Which part of your face are oily?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q96_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a415">All over the face</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q96_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a416">T-zone</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q96_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a417">Cheek</button>
            <br>
        </div>
    </div>
    
    <div class = "swiper-slide" id="q97-1">
        <div class="next">5/7</div>
        <div class="question">How much is your sebums?
        </div>
        <div class="subanswer">All over the face
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    
        <div class = "swiper-slide" id="q97-2">
            <div class="next">6/7</div>
            <div class="question">How much is your sebums?
            </div>
        <div class="subanswer">T-zone
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    
        <div class = "swiper-slide" id="q97-3">
            <div class="next">7/7</div>
            <div class="question">How much is your sebums?
            </div>
        <div class="subanswer">Cheek
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q97_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">Small</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Big</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
   </div> 
     </div>
    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>