<!DOCTYPE html>

<html>

<head>
    <title>
    eclair</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
    <div class="finish">Completed</div>

    <div class="category-text" value="cs13">Wrinkle/elasticity/aging: What’s your skin problem?</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">

    <div class = "swiper-slide" id="q98-1">
        <div class="next">1/4</div>
        <div class="question">Do you feel weak elasticity?
        </div>
        <div class="subanswer">Cheek
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">No</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Very<br>Much</div>
                    </td>
                </tr>
            </table>
        </div>
              </div>
         <div class = "swiper-slide" id="q98-2">
        <div class="next">2/4</div>
        <div class="question">Do you feel weak elasticity?
        </div>
        <div class="subanswer">Eyelid
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">No</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Very<br>Much</div>
                    </td>
                </tr>
            </table>
        </div>
          </div>
         <div class = "swiper-slide" id="q98-3">
        <div class="next">3/4</div>
        <div class="question">Do you feel weak elasticity?
        </div>
        <div class="subanswer">Below the eyes
            <table class="answer">
                <tr>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="1">

                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="2">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="3">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="4">
                    </td>
                    <td>
                        <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q98_btns" value="5">

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="desc-text">No</div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text"></div>
                    </td>
                    <td>
                        <div class="desc-text">Very<br>Much</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class = "swiper-slide" id="q99">
        <div class="next">4/4</div>
        <div class="question">Which part of your face have wrinkles?</div>
        <div class="answer">
            <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a436">
                Eye </button>
            <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a437">
              Lip </button>
            <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a438">
                Nasolabial fold</button>
              <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a439">
               Forehead</button>
              <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a440">
             Middle of the forehead</button>
              <button class="button_test_normal" name="q99_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a441">
              Etc.</button>
        </div>
      </div>
       </div> 
     </div>
   

    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>