<!DOCTYPE html>

<html>

<head>
    <title>
    eclair</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
    <div class="finish">完成</div>

    <div class="category-text" value="cs15">斑痕: 皮膚問題的嚴重程度?</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
    <div class = "swiper-slide" id="q100">
        <div class="next">1/3</div>
        <div class="question">防曬多久塗一次?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a442">每天塗</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a443">經常塗，但在冬天或陰天不怎麼塗</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a444">只在夏天塗</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a445">幾乎不塗</button>
            <br>
        </div>
    </div>
    <div class = "swiper-slide" id="q101">
        <div class="next">2/3</div>
        <div class="question">一天中多久塗一次防曬?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a446">一天一次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a447">夏天多塗一次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a448">每次多塗一次</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a449">不塗</button>
            <br>
        </div>
    </div>
    
    <div class = "swiper-slide" id="q102">
        <div class="next">3/3</div>
        <div class="question">經常長得黑痣類型是？(可重複選擇)</div>
        <table class="answer">
            <tr>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check" name="q102_btns" src="/images/ic_bl_02.png" value ="a451"  >
                <div class="desc-text2">顏色淡的蝴蝶形狀</div>
              </td>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check" name="q102_btns" src ="/images/ic_bl_03.png"value ="a452" >
                <div class="desc-text2">顴骨沿線斑痕</div>
              </td>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src ="/images/ic_bl_10.png"value ="a453" >
                <div class="desc-text2">眼角下方小點點</div>
              </td>
            </tr>
            <tr>
            <td>
              <input class="button_image_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check"name="q102_btns" src= "/images/ic_bl_04.png"value ="a454" >
              <div class="desc-text2">左右不對稱，位置不同</div>
            </td>
            <td>
              <input class="button_image_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check"name="q102_btns" src = "/images/ic_bl_05.png"value ="a455">
              <div class="desc-text2">發炎、傷口癒合後的色素沉著</div>
            </td>
            <td>
              <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src ="/images/ic_bl_06.png" value ="a456">
              <div class="desc-text2">長在額頭、嘴周</div>
            </td>
          </tr>
          <tr>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src= "/images/ic_bl_07.png" value ="a457">
            <div class="desc-text2">老年斑(老年斑色素)</div>
          </td>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src = "/images/ic_bl_08.png"value ="a458">
            <div class="desc-text2">雀斑(雀卵斑)</div>
          </td>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src = "/images/ic_bl_09.png"value ="a459">
            <div class="desc-text2">對稱真皮黑素細胞症</div>
          </td>
        </tr>
         <tr>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src= "/images/ic_bl_01.png" value ="a450">
            <div class="desc-text2">沒有</div>
          </td>
          <td>
            
          </td>
          <td>
          
          </td>
          </tr>
        
          </table>
      </div>
    </div> 
     </div>

    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>