<!DOCTYPE html>

<html>

<head>
    <title>
    eclair</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.svg" style="float:left; margin-top:17px; padding-left:16px ">
    <div class="finish-en">Completed</div>

    <div class="category-text" value="cs15">Blemish: What’s your skin problem?</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
    <div class = "swiper-slide" id="q100">
        <div class="next">1/3</div>
        <div class="question">How many time do you apply sunscreen?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a442">Every day</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a443">Every day except for winter season and cloudy days</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a444">Only in the summer season</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q100_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a445">Barely apply it</button>
            <br>
        </div>
    </div>
    <div class = "swiper-slide" id="q101">
        <div class="next">2/3</div>
        <div class="question">How many times do you apply sunscreen during the day?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a446">Once in the morning</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a447">More than once a day in the summer season</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a448">More than once a day every day</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q101_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a449">Don’t apply</button>
            <br>
        </div>
    </div>
    
    <div class = "swiper-slide" id="q102">
        <div class="next">3/3</div>
        <div class="question">What kind of blemishes do you have? (multiple choice)</div>
        <table class="answer">
            <tr>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check" name="q102_btns" src="/images/ic_bl_02.svg" value ="a451"  >
                <div class="desc-text2">Dim and butterfly like blemish</div>
              </td>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check" name="q102_btns" src ="/images/ic_bl_03.svg"value ="a452" >
                <div class="desc-text2">Line blemish along the cheekbone</div>
              </td>
              <td>
                <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src ="/images/ic_bl_10.svg"value ="a453" >
                <div class="desc-text2">Small blemish under the eyes</div>
              </td>
            </tr>
            <tr>
            <td>
              <input class="button_image_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check"name="q102_btns" src= "/images/ic_bl_04.svg"value ="a454" >
              <div class="desc-text2">Bilateral symmetry but sizes and places are different</div>
            </td>
            <td>
              <input class="button_image_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check"name="q102_btns" src = "/images/ic_bl_05.svg"value ="a455">
              <div class="desc-text2">Pigmentation after the scar or infection</div>
            </td>
            <td>
              <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src ="/images/ic_bl_06.svg" value ="a456">
              <div class="desc-text2">Blemishes in the forehead and lips</div>
            </td>
          </tr>
          <tr>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src= "/images/ic_bl_07.svg" value ="a457">
            <div class="desc-text2">Solar lentigo</div>
          </td>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src = "/images/ic_bl_08.svg"value ="a458">
            <div class="desc-text2">Freckle</div>
          </td>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src = "/images/ic_bl_09.svg"value ="a459">
            <div class="desc-text2">Liver spot</div>
          </td>
        </tr>
         <tr>
          <td>
            <input class="button_image_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q102_btns" src= "/images/ic_bl_01.svg" value ="a450">
            <div class="desc-text2">None</div>
          </td>
          <td>
            
          </td>
          <td>
          
          </td>
          </tr>
        
          </table>
      </div>
    </div> 
     </div>

    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>