<!DOCTYPE html>

<html>

<head>
    <title>
    eclair</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <div class="category-text" value="cs17">膚色: 肌膚問題的程度? </div>
     <button class= "btn_next" id = "next_btn"><img class="btn_next_img" src = "/images/ic_next_normal.png" /></button>
    <div  class="swiper-container">
<div class="swiper-wrapper">

    <div class = "swiper-slide" id = "q107">
        <div class = "next">1/3</div>
            <div class="question">膚色偏紅嗎?</div><br>
          <table class="answer">
          <tr>
            <td><input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="1"></td>
            <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="2"></td>
            <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="3"></td>
            <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="4"></td>
            <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="5"></td>
          </tr>
          <tr>
            <td><div class="desc-text">不紅</div></td>
            <td><div class="desc-text"></div></td>
            <td><div class="desc-text"></div></td>
            <td><div class="desc-text"></div></td>
            <td><div class="desc-text">超紅</div></td>
          </tr>
          </table>
          </div>

          <div class = "swiper-slide" id="q108">
            <div class="next">2/3</div>
            <div class="question">黑眼圈類型是?</div>
            <table class="answer">
                <tr>
                  <td>
                    <input class="button_image_normal" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="image" data-checked="check" name="q2_btns" src="/images/ic_darkcircle_01.svg" value ="a481"  >
                    <div class="desc-text2">色素型: 眼部下麵發黑</div>
                  </td>
                  <td>
                    <input class="button_image_normal" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="image" data-checked="check" name="q2_btns" src ="/images/ic_darkcircle_02.svg"value ="a482" >
                    <div class="desc-text2">血管型: 眼部底下靜脈透見</div>
                  </td>
                  <td>
                    <input class="button_image_normal" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="image" data-checked="check"name="q2_btns" src ="/images/ic_darkcircle_03.svg"value ="a483" >
                    <div class="desc-text2">萎縮型: 眼部底下皮膚尤其嬌嫩,清洗透見肌肉</div>
                  </td>
                </tr>
               
                </tr>
                <tr>
                <td>
                  <input class="button_image_normal" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"type="image" data-checked="check"name="q2_btns" src= "/images/ic_darkcircle_04.svg"value ="a484" >
                  <div class="desc-text2">突出型: 眼肚，眼部下方突出，形成陰影</div>
                </td>
                <td>
                  <input class="button_image_normal" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"type="image" data-checked="check"name="q2_btns" src = "/images/ic_darkcircle_05.svg"value ="a485">
                  <div class="desc-text2">凹進型: 眼部下放凹陷，形成陰影</div>
                </td>
                <td>
                  <input class="button_image_normal"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="image" data-checked="check"name="q2_btns" src ="/images/ic_bl_01.svg" value ="a486">
                  <div class="desc-text2">沒有</div>
                </td>
              </tr>
           
              </table>
          </div>

              <div class = "swiper-slide" id = "q109">
                <div class = "next">3/3</div>
                    <div class="question">黑眼圈的嚴重程度是?</div><br>
                  <table class="answer">
                  <tr>
                    <td><input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="1"></td>
                    <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="2"></td>
                    <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="3"></td>
                    <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="4"></td>
                    <td> <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q104_btns" value="5"></td>
                  </tr>
                  <tr>
                    <td><div class="desc-text">淡</div></td>
                    <td><div class="desc-text"></div></td>
                    <td><div class="desc-text"></div></td>
                    <td><div class="desc-text"></div></td>
                    <td><div class="desc-text">深</div></td>
                  </tr>
                  </table>
                  </div>
               </div> 
     </div>


 

    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>