<!DOCTYPE html>

<html>

<head>
    <title>
    eclair</title>
    <link rel='stylesheet' href='/stylesheets/style(test).css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>


</head>

<body>

    <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
    <div class="finish">Completed</div>

    <div class="category-text" value="cs18">Dead skin cell/texture: What’s your skin problem?</div>

    <div id="q110">
        <div class="next">1/5</div>
        <div class="question">Which part of your face has dead skin cells?</div>
        <div class="answer">
          <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a490">
            Around the mouth </button>
          <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a491">
             Cheek</button>
          <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a492">
          Nose</button>
            <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a493">
             Forehead  </button>
            <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a494">
             Chin</button>
            <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a495">
             None</button>
             <button class="button_test_normal" name="q110_btns" data-checked="check"  data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a496">
              Etc.</button>
        </div>
      </div>
    <div id="q111">
        <div class="next">2/5</div>
        <div class="question">How many time do you exploit the dead skin cells?</div>
        <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q111_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a497">1~2 times a week</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q111_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a498">Once in two weeks</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q111_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a499">More than once a month</button>
            <br>
            <button class="button_test_normal" data-checked="check" name="q111_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a500">No</button>
            <br>
        </div>
    </div>
    <div id = "q112">
        <div class = "next">3/5</div>
            <div class="question">Does your makeup is out frequently?</div><br>
          <table class="answer">
          <tr>
            <td><input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q112_btns" value="1"></td>
            <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q112_btns" value="2"></td>
            <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q112_btns" value="3"></td>
          
          </tr>
          <tr>
            <td><div class="desc-text3">No</div></td>
            <td><div class="desc-text3">Sometimes</div></td>
            <td><div class="desc-text3">Yes</div></td>
          </tr>
          </table>
          </div>
          <div id = "q113">
            <div class = "next">4/5</div>
                <div class="question">Does your skin is rough even though you don’t have much dead skin cells?</div><br>
              <table class="answer">
              <tr>
                <td><input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q113_btns" value="1"></td>
                <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q113_btns" value="2"></td>
                <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q113_btns" value="3"></td>
              
              </tr>
              <tr>
                <td><div class="desc-text3">No</div></td>
                <td><div class="desc-text3">Sometimes</div></td>
                <td><div class="desc-text3">Yes</div></td>
              </tr>
              </table>
              </div>
              <div id = "q114">
                <div class = "next">5/5</div>
                    <div class="question">Does your skin is crisp?</div><br>
                  <table class="answer">
                  <tr>
                    <td><input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q114_btns" value="1"></td>
                    <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q114_btns" value="2"></td>
                    <td> <input class="button_normal2 "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q114_btns" value="3"></td>
                  </tr>
                  <tr>
                    <td><div class="desc-text3">No</div></td>
                    <td><div class="desc-text3">Sometimes</div></td>
                    <td><div class="desc-text3">Yes</div></td>
                  </tr>
                  </table>
                  </div>
   
 

    <script>
        var answers = <%-JSON.stringify(list)-%>;
    </script>
</body>

</html>