<!DOCTYPE html>
<html>

<head>
  <title>
    eclair</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
  <div class= "finish" >완료</div>
  
  <div class="category-text"value = "cs2">기피하는 화장품 브랜드를<br>선택해주세요</div>
  <div id="q2">
   

    <table class="answer">
      <tr>
        <td>
          <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check" name="q2_btns" src="/images/Asset 1.svg" value ="b1"  >
          <div class="desc-text2">에스티로더</div>
        </td>
        <td>
          <input class="button_brand_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check" name="q2_btns" src ="/images/Asset 10.svg"value ="b2" >
          <div class="desc-text2">에스케이투</div>
        </td>
        <td>
          <input class="button_brand_normal" type="image"data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" data-checked="check"name="q2_btns" src ="/images/Asset 3.svg"value ="b3" >
          <div class="desc-text2">디올</div>
        </td>
      </tr>
     
      </tr>
      <tr>
      <td>
        <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src= "/images/Asset 4.svg"value ="b4" >
        <div class="desc-text2">비오템</div>
      </td>
      <td>
        <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src = "/images/Asset 5.svg"value ="b5">
        <div class="desc-text2">키엘</div>
      </td>
      <td>
        <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src ="/images/Asset 6.svg" value ="b6">
        <div class="desc-text2">마몽드</div>
      </td>
    </tr>
    <tr>
    <td>
      <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src= "/images/Asset 7.svg" value ="b7">
      <div class="desc-text2">아벤느</div>
    </td>
    <td>
      <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src = "/images/Asset 8.svg"value ="b8">
      <div class="desc-text2">러쉬</div>
    </td>
    <td>
      <input class="button_brand_normal" type="image" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>"data-checked="check"name="q2_btns" src = "/images/Asset 9.svg"value ="b9">
      <div class="desc-text2">닥터자르트</div>
    </td>
  </tr>
  
    </table>
  </div>

 
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
