<!DOCTYPE html>
<html>

<head>
  <title>
    test</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:9px; padding-left:16px ">
  <div class= "finish" >완료</div>

  <div class="category-text" value="cs7">당신의 생활습관을 알려주세요.</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
  <div class = "swiper-slide" id="q32">
    <div class="next">1/16</div>
    <div class="question">과일/비타민 섭취량은?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a151">적어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a152">많아요</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q33">
    <div class="next">2/16</div>
    <div class="question">물 섭취량은?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a153">적어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a154">많아요</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q34">
    <div class="next">3/16</div>
    <div class="question">건강 보조제 섭취량은?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a155">적어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a156">많아요</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q35">
    <div class="next">4/16</div>
    <div class="question">밀가루 음식 섭취량은?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a157">적어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a158">많아요</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q36">
    <div class="next">5/16</div>
    <div class="question">유제품 섭취량은?  </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a159">적어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a160">많아요</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q37">
    <div class="next">6/16</div>
    <div class="question">메이크업 도구 세척은 얼마나 자주 하세요?    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a161">일주일에 3번 이상 세척해요    </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a162">일주일에 1-2번 세척해요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a163">한달에 한번 세척해요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a164">거의 안해요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a165">새로 구매하는 편입니다.</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q38">
    <div class="next">7/16</div>
    <div class="question">세안 전 손을 씻으시나요? </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a166">씻지 않아요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a167">물로만 씻어요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a168">세정제(비누 등)을 이용해서 씻어요</button>
      <br>
    </div>
  </div> 
 
  <div class = "swiper-slide" id="q39">
    <div class="next">8/16</div>
    <div class="question">베개 청결 정도는 얼마나 되나요?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="1">
 
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="5">
       
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">낮음</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">높음</div></td>
      </tr>
    </table>
  </div>

  <br>

  <div class = "swiper-slide" id="q40">
    <div class="next">9/16</div>
    <div class="question">생활 속에서 얼굴을 얼마나 만지나요?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="1">
        
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="5">
     
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">낮음</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">높음</div></td>
      </tr>
    
    </table>
  </div>
  
  <br>

  <div class = "swiper-slide" id="q41">
    <div class="next">10/16</div>
    <div class="question"> 일주일에 얼마나 술을 자주 마시나요?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="1">
       
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="5">
      
        </td>
      </tr>
       <tr>
        <td><div class="desc-text">마시지<br>않는다</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">매일<br>마신다</div></td>
      </tr>
     
    </table>
  </div>
  <div class = "swiper-slide" id="q42">
    <div class="next">11/16</div>
    <div class="question">한 번 마실 때 술을 얼마나 마시나요?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a175">안 마셔요 </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a176">1잔 미만</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a177">반 병 미만</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a178">1병</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a179">1병 이상</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q43">
    <div class="next">12/16</div>
    <div class="question">담배를 피우시나요?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a180">흡연</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a181">비흡연</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q44">
    <div class="next">13/16</div>
    <div class="question">운동은 자주 하시나요?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a182">주 4~5회</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a183">주 2~3회</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a184">주 1회</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a185">하지 않아요</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q45">
    <div class="next">14/16</div>
    <div class="question"> 운동 시 메이크업을 하나요?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a186">항상 풀메이크업으로 해요</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a187">가벼운 메이크업만 하는 편이에요(베이스+립 정도)</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a188">안 해요</button>
      <br>

    </div>
  </div> 


  <div class = "swiper-slide" id="q46">
    <div class="next">15/16</div>
    <div class="question">주로 생활하는 실내 환경은 어떤가요?
    </div>
    <div class="answer">
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a189">건조해요</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a190">환기가 되지 않아요</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a191">해당 사항 없음</button>
    <br>
    </div>
    <br>
  </div>



  <div class = "swiper-slide" id="q47">
    <div class="next">16/16</div>
    <div class="question">실외 환경은 어떤가요?
    </div>

    <div class="answer">
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a192">높은 자외선</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a193">바람이 항상 많이 불어요</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a194">미세 먼지가 많아요</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a195">해당 사항 없음</button>
    <br>
    </div>
  </div>
     </div> 
     </div>
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
