<!DOCTYPE html>
<html>

<head>
  <title>
    test</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
  <div class= "finish" >完成</div>

  <div class="category-text" value="cs7">請告訴我們您的生活習慣。</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
  <div class = "swiper-slide" id="q32">
    <div class="next">1/16</div>
    <div class="question">水果/維生素的攝取量?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a151">少</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a152">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q33">
    <div class="next">2/16</div>
    <div class="question">喝水量?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a153">少</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a154">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q34">
    <div class="next">3/16</div>
    <div class="question">健康補品的攝取量?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a155">少</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a156">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q35">
    <div class="next">4/16</div>
    <div class="question">麵食的攝取量?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a157">少</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a158">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q36">
    <div class="next">5/16</div>
    <div class="question">乳製品攝取量? </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a159">少</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a160">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q37">
    <div class="next">6/16</div>
    <div class="question">多久一次清洗化妝工具? </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a161">一周3次以上  </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a162">一周1-2次</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a163">一個月一次</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a164">幾乎不</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a165">買新的</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q38">
    <div class="next">7/16</div>
    <div class="question">洗臉前洗手嗎?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a166">不洗</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a167">水洗</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a168">洗手液(香皂等)洗手</button>
      <br>
    </div>
  </div> 
 
  <div class = "swiper-slide" id="q39">
    <div class="next">8/16</div>
    <div class="question">多久洗一次枕頭?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="1">
 
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="5">
       
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">低</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">高</div></td>
      </tr>
    </table>
  </div>

  <br>

  <div class = "swiper-slide" id="q40">
    <div class="next">9/16</div>
    <div class="question">經常摸臉嗎？
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="1">
        
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="5">
     
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">低</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">高</div></td>
      </tr>
    
    </table>
  </div>
  
  <br>

  <div class = "swiper-slide" id="q41">
    <div class="next">10/16</div>
    <div class="question"> 一周喝幾次酒？
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="1">
       
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="5">
      
        </td>
      </tr>
       <tr>
        <td><div class="desc-text">不喝</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">每天喝</div></td>
      </tr>
     
    </table>
  </div>
  <div class = "swiper-slide" id="q42">
    <div class="next">11/16</div>
    <div class="question">每次酒量是?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a175">不喝</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a176">不到1杯</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a177">不到半瓶</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a178">1瓶</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a179">1瓶以上</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q43">
    <div class="next">12/16</div>
    <div class="question">是否吸煙?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a180">吸煙</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a181">不吸煙</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q44">
    <div class="next">13/16</div>
    <div class="question">經常做運動嗎?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a182">每週4~5次</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a183">每週2~3次</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a184">每週1次</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a185">不做</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q45">
    <div class="next">14/16</div>
    <div class="question"> 運動時是否化妝?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a186">一直保持妝容</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a187">簡單妝容(打底+口紅)</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a188">不化</button>
      <br>

    </div>
  </div> 


  <div class = "swiper-slide" id="q46">
    <div class="next">15/16</div>
    <div class="question">您活動的室內環境如何?
    </div>
    <div class="answer">
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a189">乾燥</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a190">無法換氣</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a191">沒有</button>
    <br>
    </div>
    <br>
  </div>



  <div class = "swiper-slide" id="q47">
    <div class="next">16/16</div>
    <div class="question">室外環境如何？
    </div>

    <div class="answer">
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a192">紫外線強</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a193">經常風吹</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a194">微塵多</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a195">沒有</button>
    <br>
    </div>
  </div>
     </div> 
        </div>
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
