<!DOCTYPE html>
<html>

<head>
  <title>
    test</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
  <div class= "finish" >Completed</div>

  <div class="category-text" value="cs7">Let us know about your daily habits.</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
  <div class = "swiper-slide" id="q32">
    <div class="next">1/16</div>
    <div class="question">Fruits/vitamin intakes?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a151">Few</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q32_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a152">Much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q33">
    <div class="next">2/16</div>
    <div class="question">Water consumption?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a153">Few</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q33_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a154">Much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q34">
    <div class="next">3/16</div>
    <div class="question">Supplements consumption?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a155">Few</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q34_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a156">Much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q35">
    <div class="next">4/16</div>
    <div class="question">Flour consumption?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a157">Few</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q35_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a158">Much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q36">
    <div class="next">5/16</div>
    <div class="question">Dairy products consumption?  </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a159">Few</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q36_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a160">Much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q37">
    <div class="next">6/16</div>
    <div class="question">How many times do you wash the make-up tools?  </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a161">More than three times a week </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a162">1~2 times a week</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a163">Once in a month</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a164">Barely</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q37_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a165">Buy new one</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q38">
    <div class="next">7/16</div>
    <div class="question">Do you wash your hands before washing the face?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a166">No</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a167">Wash with water</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q38_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a168">Wash with cleaner (soap, etc.)</button>
      <br>
    </div>
  </div> 
 
  <div class = "swiper-slide" id="q39">
    <div class="next">8/16</div>
    <div class="question"> Does your pillow is clean? 
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="1">
 
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q39_btns" value="5">
       
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">Low</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">High</div></td>
      </tr>
    </table>
  </div>

  <br>

  <div class = "swiper-slide" id="q40">
    <div class="next">9/16</div>
    <div class="question">Do you touch your face frequently?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="1">
        
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q40_btns" value="5">
     
        </td>
      </tr>
      <tr>
        <td><div class="desc-text">Low</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">High</div></td>
      </tr>
    
    </table>
  </div>
  
  <br>

  <div class = "swiper-slide" id="q41">
    <div class="next">10/16</div>
    <div class="question"> How many times you drink an alcohol in a week?
    </div>
    <table class="answer">
      <tr>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="1">
       
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="2">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="3">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="4">
        </td>
        <td>
          <input class="button_normal "data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" type="button" name="q41_btns" value="5">
      
        </td>
      </tr>
       <tr>
        <td><div class="desc-text">None</div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text"></div></td>
        <td><div class="desc-text">Every day</div></td>
      </tr>
     
    </table>
  </div>
  <div class = "swiper-slide" id="q42">
    <div class="next">11/16</div>
    <div class="question">How much do you drink at a time?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a175">No</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a176">Less than 1 glass</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a177">Less than half the bottle</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a178">1 bottle</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q42_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a179">More than 1 bottle</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q43">
    <div class="next">12/16</div>
    <div class="question">Do you smoke?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a180">Yes</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q43_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a181">No</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q44">
    <div class="next">13/16</div>
    <div class="question"> How many times do you exercise?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a182">4~5 times a week</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a183">2~3 times a week</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a184">One time a week</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q44_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a185">No</button>
      <br>
    </div>
  </div> 
   <div class = "swiper-slide" id="q45">
    <div class="next">14/16</div>
    <div class="question"> Do you make up when you exercise?
    </div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a186">Always full make up</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a187">Slight make up (base+lip)</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q45_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a188">No</button>
      <br>

    </div>
  </div> 


  <div class = "swiper-slide" id="q46">
    <div class="next">15/16</div>
    <div class="question">How is your indoor environment?
    </div>
    <div class="answer">
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a189">Dry</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a190">Ventilation is impossible</button>
    <br>
    <button class="button_test_normal" data-checked="check" name="q46_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a191">None</button>
    <br>
    </div>
    <br>
  </div>



  <div class = "swiper-slide" id="q47">
    <div class="next">16/16</div>
    <div class="question">How is your outdoor environment?
    </div>

    <div class="answer">
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a192">High ultraviolet rays</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a193">Heavy wind</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a194">Much fine particulate matter</button>
    <br>
    <button class="button_test_normal"  data-checked="check" name="q47_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a195">None</button>
    <br>
    </div>
  </div>
     </div> 
     </div>
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
