<!DOCTYPE html>
<html>

<head>
  <title>
    test</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:9px; padding-left:16px ">
  <div class= "finish" >完成</div>

  <div class="category-text" value = "cs9">&&的膚質類型是？ (乾性/油性)</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
  <div class = "swiper-slide" id="q48">
    <div class="next">1/10</div>
    <div class="question">洗臉後未塗保濕露、防曬、彩妝等時經過2-3小時後，在強烈燈光下看鏡子中的自己，這時的臉頰與額頭肌膚狀態如何？</div>
    <div class="answer">
        <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a196">非常粗糙、乾燥、起皮。</button>
        <br>
        <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a197">緊繃 </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a198">不緊繃、不乾燥、不油光  </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a199">如反射燈光,油光滿面 </button>
    </div>
    <br>
  </div> 
  <div class = "swiper-slide" id="q49">
    <div class="next">2/10</div>
    <div class="question">只打底（粉底、遮瑕）不擦粉的情況下經過2~3小時後，您的妝容是？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a200">浮粉、起皺 </button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a201">光滑</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a202">出油</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a203">出油脫粉</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a204">不擦粉底</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q50">
    <div class="next">3/10</div>
    <div class="question">在濕度低的環境（ex晚秋、冬天）下，未塗保濕露、防曬時的肌膚狀態是？</div>
    <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a205">乾燥斷裂</button>
            <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a206">緊繃</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a207">正常</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a208">出油但不用補水</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a209">不清楚</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q51">
    <div class="next">4/10</div>
    <div class="question">照鏡子近看，毛孔有多少？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a210">沒有</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a211">T字部位有一點</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a212">較多</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a213">很多</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a214">不清楚</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q52">
    <div class="next">5/10</div>
    <div class="question"> 您的膚質是？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a215">乾燥</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a216">正常</button>
      <br>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a217">綜合（每個部位都不同）</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="218">出油</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q53">
    <div class="next">6/10</div>
    <div class="question">用容易打泡的香皂後，肌膚狀態如何？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a219">乾燥</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a220">稍微乾燥、不斷裂</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a221">正常</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a222">出油</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a223">不用出泡洗面乳（如果原因為乾燥，請選擇1）</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q54">
    <div class="next">7/10</div>
    <div class="question">不塗保濕露，肌膚是否緊繃？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a224">經常</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a225">偶爾</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a226">幾乎不</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a227">完全不</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q55">
    <div class="next">8/10</div>
    <div class="question">臉上的毛孔有多少？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a228">完全沒有</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a229">幾乎沒有</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a230">有一點</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a231">多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q56">
    <div class="next">9/10</div>
    <div class="question">臉上T區（額頭、鼻子）油脂分泌是否多？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a232">完全不是</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a233">稍微是</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a234">多</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a235">很多</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q57">
    <div class="next">10/10</div>
    <div class="question">塗保濕露經過2-3小時後，雙臉頰的狀態是？</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a236">粗糙起皮</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a237">光滑</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a238">油光</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a239">出油多但無需保濕霜</button>
      <br>
    </div>
  </div> 
     </div> 
     </div>
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
