<!DOCTYPE html>
<html>

<head>
  <title>
    test</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:17px; padding-left:16px ">
  <div class= "finish" >Completed</div>

  <div class="category-text" value = "cs9">What’s &&’s skin type? (Dry/Oily)</div>
    <div  class="swiper-container">
<div class="swiper-wrapper">
  <div class = "swiper-slide" id="q48">
    <div class="next">1/10</div>
    <div class="question">Washing the face and 2~3 hours later, without applying any cosmetics including moisturizer, sun screen or color cosmetic, what do you feel about your skin especially the forehead and cheeks area?</div>
    <div class="answer">
        <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a196">Very rough, dry and have many dead skin cells.</button>
        <br>
        <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a197">Dry.</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a198">Not dry and not too much greasy.</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q48_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a199">Greasy like reflecting light  </button>
    </div>
    <br>
  </div> 
  <div class = "swiper-slide" id="q49">
    <div class="next">2/10</div>
    <div class="question">Applying base make ups (foundation, make-up base) and 2~3 hours later, without applying powder, what’s your skin condition?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a200">Look don’t blend well and have creases.</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a201">Look smooth</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a202">Greasy</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a203">Don’t fixed and greasy</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q49_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a204">Don’t apply foundation</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q50">
    <div class="next">3/10</div>
    <div class="question">In an environment of low humidity (ex. late fall, winter), if you don’t apply moisturizers or sunscreens, what do you feel about your skin condition?</div>
    <div class="answer">
            <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a205">Feel very dry and get creases</button>
            <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a206">Feel tight and dry</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a207">Normal</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a208">Greasy and don’t need to apply moisturizers</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q50_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a209">Don’t know well</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q51">
    <div class="next">4/10</div>
    <div class="question">How many big pores do you have which are larger than the tip of a pen when you look closely in the mirror?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a210">None</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a211">A few around T zone</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a212">Many</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a213">A lot</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q51_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a214">Don’t know well</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q52">
    <div class="next">5/10</div>
    <div class="question">What’s your skin condition</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a215">Dry</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a216">normal</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a217">Mixed (Different by area)</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q52_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="218">Oily</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q53">
    <div class="next">6/10</div>
    <div class="question">What do you feel after using soaps and cleansers with a lot of bubble?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a219">Feel very dry and creases</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a220">Feel dry but not creases</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a221">Normal</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a222">Greasy and don’t need to apply moisturizers</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q53_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a223">Don’t use bubbly cleanser (Because of the dry skin, select 1)</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q54">
    <div class="next">7/10</div>
    <div class="question">If you don’t use moisturizers, do you feel dry and tight?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a224">Always</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a225">Sometimes</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a226">Barely</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q54_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a227">never</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q55">
    <div class="next">8/10</div>
    <div class="question">How many pores do you have?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a228">Not at all</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a229">Little bit</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a230">Much</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q55_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a231">Very much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q56">
    <div class="next">9/10</div>
    <div class="question">How much oily do you feel in the T area (forehead and nose)?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a232">Not at all</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a233">Little bit</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a234">Much</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q56_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a235">Very much</button>
      <br>
    </div>
  </div> 
  <div class = "swiper-slide" id="q57">
    <div class="next">10/10</div>
    <div class="question">Apply moisturizer and 2~3 hours later, what do you feel in your cheeks?</div>
    <div class="answer">
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a236">Rough, dry and have many dead skin cells</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a237">Look smooth</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a238">Greasy</button>
      <br>
      <button class="button_test_normal" data-checked="check" name="q57_btns" data-userid="<%=userid %>" data-cid="<%=cid %>" data-csid= "<%=csid%>" value="a239">Greasy and don’t need moisturizers</button>
      <br>
    </div>
  </div> 
     </div> 
     </div>
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
